body{
  font-size: 16px;
}
.font_l{
  font-size: 20px;
}
.font_xl{
  font-size: 24px;
}
.font_merri {
  font-family: 'Merriweather';
}
.font_ubuntu {
  font-family: 'Ubuntu';
}
.weight_500{
  font-weight: 500;
}
.primary_text {
  color: #031576;
}
.section_head{
  text-align: center;
  background-color: #E1E6FF;
  font-weight: bold;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'Merriweather';
}
.link {
  color: #000 !important;
  text-decoration: underline !important;
}